body {
    background-image: url("assets/white-waves.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Helvetica;
    height: 100%;
    position: relative;
    padding-bottom: 65px;
    min-height: 100vh;
}

.box-1 {
    color: #343a40;
    background-color: #fff;
    border: 2px solid #eee;
    clear: both;
    margin: 50px auto;
    padding: 30px;
    overflow: auto;
}

.content {
    margin: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #343a40;
}

.about {
    margin-left: 15px;
}

header{
    width: 100%;
    height: 98px;
    background: #fff;
    clear: both;
    box-shadow: 0px 2px 0px darkslategray;
}

.name-container{
    width: 300px;
    float: left;
}

.name{
    color: #fff;
    padding: 30px;
    margin: 0;
    background-color: darkslategray;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 45px;
}

nav a{
    font-family: helvetica;
    font-weight: bold;
    color: darkslategrey;
    text-decoration: none;
    text-transform: uppercase;
}

.box-1 {
    color: #343a40;
    background-color: #fff;
    border: 2px solid #eee;
    clear: both;
    margin: 50px auto;
    padding: 30px;
    overflow: auto;
}

.contact{
    padding-left: 30px;
    padding-top: 20px;
}

hr {
    display: block;
    position: relative;
    height: 1px;
    border: 0;
    border-top: 2px solid darkslategray;
    margin: 30px;
    padding: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#343a40;
    border-top: solid 5px #15a86b;
    text-align: center;
    color: #fff;
    padding-top: 15px;
    clear: both;
}